<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="https://www.google.com.au/maps/place/9+Selsdon+St,+Mount+Victoria+NSW+2786/@-33.5883475,150.2507058,17z/data=!3m1!4b1!4m5!3m4!1s0x6b127308de7af0b3:0xd7da3d9ea2d387bf!8m2!3d-33.5883475!4d150.2528945">9 Selsdon St, Mt Victoria</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Accommodation info</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://www.instagram.com/dillwynia_lodge/"><i class="fa fa-instagram"></i>Gallery</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Things to do</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
